# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build results
TaskCentralBackEnd/bin/
TaskCentralBackEnd/[Dd]ebug/
TaskCentralBackEnd/[Rr]elease/
TaskCentralBackEnd/x64/
TaskCentralBackEnd/[Bb]in/
TaskCentralBackEnd/[Oo]bj/

# DB
taskcentral.db
taskcentral.db-shm
taskcentral.db-wal